<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue 2048</title>
    <link rel="stylesheet" href="./style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <h1>Vue 2048 - Steven Edition</h1>
    </header>
    <table id="game">
      <tbody>
        <tr v-for="array in gameArray">
          <td
            v-for="el in array"
            v-bind:class="{ emptyCell: !el.value, bigCell: bigCells()}"
            :key="el.id"
          >
            {{el.value ? el.value : " "}}
          </td>
          <br />
        </tr>
      </tbody>
    </table>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="script.js"></script>
</html>
