<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue 2048</title>
    <link rel="stylesheet" href="./style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <h1>Vue 2048 - Steven Edition</h1>
    </header>
    <div id="game">
      <!-- grid-template-columns: 'repeat('+dimensions+', 1fr)' -->
      <transition-group
        tag="div"
        id="game-container"
        style="grid-template-columns: repeat(4, 1fr);"
        v-bind:style="{}"
        name="array-list"
      >
        <div
          class="game-cell"
          v-for="elem in displayGameArray()"
          v-bind:class="{ emptyCell: !elem.value, bigCell: bigCells()}"
          :style="{ backgroundColor: bgColors[elem.value] }"
          :key="elem.id"
        >
          {{elem.value ? elem.value : " "}}
        </div>
      </transition-group>
    </div>
    <div id="game-over-box" v-if="visible">
      <h2 id="msg-game-over">{{victory ? "You win!" : "You lose!"}}</h2>
      <div class="btn-game-over" v-on:click="playAgain">
        Play Again
      </div>
      <div class="btn-game-over" v-on:click="visible = false;" v-if="victory">
        Continue
      </div>
    </div>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="script.js"></script>
</html>
