body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  -moz-user-select: none;
  -webkit-user-select: none;
}

#game {
  background-color: rgb(190, 64, 29);
  border-radius: 10px;
}

#game-container {
  display: grid;
  gap: 10px;
  padding: 10px;
}

.game-cell {
  text-align: center;
  background-color: white;
  border-radius: 10px;
  max-width: 50px;
  max-height: 50px;
  height: 50px;
  width: 50px;
  line-height: 50px;
}

.emptyCell {
  background-color: rgb(192, 153, 153);
}

.bigCell {
  max-width: 125px;
  max-height: 125px;
  height: 125px;
  width: 125px;
  font-size: 55px;
  line-height: 125px;
}

.array-list-move {
  transition: all 200ms;
}
